<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Training stats</title>
        <style>
            body{
                color:#363636;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
            }
            h1{
                font-weight: 300;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Training stats</h1>
        </div>
    </body>
</html>
